# direnv configuration for The NFT Story project
# This file automatically sources the project environment when entering the directory
#
# To use direnv:
# 1. Install direnv: https://direnv.net/docs/installation.html
# 2. Add direnv hook to your shell profile (see installation docs)
# 3. Run: direnv allow
#
# direnv will then automatically load/unload the environment when you
# enter/exit this directory

# Source the project environment script
source_env scripts/init-env.sh
